-categories = JournalEntryCategory.order('name asc').all
=bs3_form_for @je, :url => @je.new_record? ? journal_entries_path : journal_entry_path(@je), :remote => true do |f|
  =f.hidden_field :date, :value => I18n.l(@je.date)
  .row
    .col-md-12
      =f.form_group :name do |attr|
        =f.label attr
        =f.text_field attr
    .col-md-12
      =f.form_group :journal_entry_category_id do |attr|
        =f.label attr do
          %span.inline-block='סיווג'
          &nbsp;&nbsp;
          %span.inline-block.muted2.smaller2.em.font-weight-normal
            -categories.each do |category|
              %span.category_icon_and_desc{:style => 'display: none', 'data-category_id'=>category.id}
                %span.qtipTarget
                  =category.name
                  -if category.description.present?
                    %div.qtipContents=markdown_html category.description

        =f.radio_bar(attr, :bs3=>true) do |rb|
          -categories.each do |category|
            =rb.item category.id do
              =image_tag category.icon_path, :style => 'height: 20px'
        =f.field_errors attr

  .row
    .col-md-24
      =f.form_group :description do |attr|
        =f.label attr do
          %div.pull-right
            -categories.each do |category|
              -if category.guiding_questions.present?
                %span.qtipTarget.category_guiding_questions{:style => 'display: none', 'data-category_id'=>category.id}
                  %span.muted3.smaller2.em=JournalEntryCategory.human_attribute_name(:guiding_questions)
                  %i.fa.fa-question-circle
                  %div.qtipContents
                    %div.markdown=markdown_html category.guiding_questions

          =@je.class.human_attribute_name(attr)
        =f.text_area attr, :class => 'autosize', :style => 'height: 150px'

  .row.actions
    .col-md24
      -unless @je.new_record?
        %div.pull-right
          =link_to t('application.delete'), journal_entry_path(@je), :class => 'btn btn-sm btn-danger', :remote => true, :method => :delete, :confirm => t('application.are_you_sure')
      =link_to t('application.cancel'), 'javascript:;', :class => 'btn btn-default', 'data-action'=>'hide_form'
      &nbsp;
      =f.submit t('application.save'), :class => 'btn btn-large btn-primary'
