%div.journal_entry{'data-id'=>journal_entry.id}
  %div.show_view
    =image_tag journal_entry.category.icon_path, :class => 'category_icon'
    &nbsp;
    %span.bigger1.strong=journal_entry.name
    %div.pull-right.controls
      =link_to edit_journal_entry_path(journal_entry), :class => 'btn btn-default on_hover1', :remote => true do
        %i.icon-pencil
        ='עריכה'
    %div.description
      %div.markdown=markdown_html journal_entry.description
  %div.edit_view
