%div.ltr.tright
  %div.strong.smaller1.ul Why do I want to capture MMA? What will it give me?
  %ul
    %li If your life worth living, it’s worth recording
    %li I want to relive those memories of celebrations and experience them in my body, when I think of them again it gives me a sense of victory and I focus on the good things that happenned today
    %li It’s easy to build on success, it’s hard to build on failure and frustration
    %li I want to take some time for me and acknowledge what I’ve accomplished, that I'm making progress and growing
    %li It gives a safe place to express my self, what I feel and think (without looping in my head)
%div.markdown
  %ul
    %li אני מרגיש שזה מדרבן אותי, שאני מרגיש שיש התקדמות ויש דברים טובים שקורים בכל יום, ואני תכלס מזין את מעגל ההצלחה כל פעם שאני מתעד ומעצים את תחושת המסוגלות שלי והמצב רוח הטוב
