-content_for :head do
  =stylesheet_link_tag "app/#{controller_name}.#{action_name}"
  =javascript_include_tag "app/controllers/#{controller_name}.#{action_name}"
-content_for :html_title, 'סיווג רישומי יומן'
-content_for(:active_pill, :journal)

%div.pull-right
  =link_to 'javascript:;', :class => 'btn btn-large btn-success new_journal_entry', 'data-url'=>new_journal_entry_path(:date => '__0__') do
    %i.icon-plus.icon-white
    ='הוספה'
    =hidden_field_tag :new_journal_entry_date, ''

-filter_bar :submit_via_grid_id => @dgc.grid_id, :bar_class => 'pull-left' do
  %div.float
    %div='סיווג:'
    =select_tag :filter_journal_entry_category_id, options_for_select([['הכל','all']] + JournalEntryCategory.order('name asc').collect{|c| [c.name, c.id] }, :selected => @dgc.options.filter_journal_entry_category_id)
  %div.separator
  %div.float
    %div='מתאריך:'
    %span=date_field_tag :filter_created_at_from, @dgc.options.filter_created_at_from, {}, :class => 'input-small'
  %div.separator
  %div.float
    %div='עד תאריך:'
    %span=date_field_tag :filter_created_at_to, @dgc.options.filter_created_at_to, {}, :class => 'input-small'

%div.clear

=render 'grid', :dgc => @dgc

:javascript
  var controller = new MyRPM.controllers.JournalEntriesGridViewController({
  });
