!.gitignore
.idea/
.idea/**/*
db/db-yml**/*
db/db_*.tar
db/*_db.tar
log/*
config/system_upgrade_notice.yml
config/backup/log
config/backup/data
config/backup/.tmp
config/backup/.cache
tmp/
tmp/**/*
public/system/*
public/system/**/*
non-public/system/*
non-public/system/**/*
public/stylesheets/cache/*.css
public/javascripts/cache/*.js
public/cache/**/*
public/cache/*.*
public/**/.directory
