%div.daily_planning_steps
  %div.box.step
    %h4
      ='שלב 1 - בונים capture list '
      %span.qtipTarget
        =image_tag 'icons/target_arrow-24x24.png'
        %div.qtipContents
          ='כשאני לא מתכנן, אני מתכן בתוך הראש או מנסה לקבל החלטות תוך כדי, וזה המקום הכי גרוע לתכנן בו כי זה גורם לי לעשות לופים בראש, ולהרגיש תחושה של חוסר השלמה ומפריע לי להתרכז'
          ='(כי אוהב לסיים דברים או לדעת שאני יכול לחזור ולסיים אותם יותר מאוחר'

    %div.contents
      %ul
        %li
          ='מה חייב לקרות היום?'
          %span.qtipTarget
            =image_tag 'icons/note_yellow-16x16.png', :style => 'height: 10px'
            %div.qtipContents=%Q(למשל: פגישה שנקבעה, תור למרפאה, נסיעה לת"א, בישול, קניות לסופר וכו')
        %li='מה אני באמת רוצה שיקרה היום, כך שיום זה יהיה מוצלח ומספק?'
        %li='דברים שתוכננו להיום בתכנון שבועי ודברים שלא הסתיימו אתמול'
        %li='כל דבר אחר שאני רוצה לזכור לעשות בהמשך או רעיון טוב שחשבתי עליו - לרוקן את הראש'
