-content_for :head do
  =stylesheet_link_tag "app/#{controller_name}.#{action_name}"
  =javascript_include_tag "lib/timed_events_layouter"
  =javascript_include_tag "app/controllers/#{controller_name}.#{action_name}"

-content_for :html_title, 'תכנון יום - ' + l(@day_date, :format => '%A, %d %B')
-content_for :active_pill, :planning

%div.pull-right
  %div.btn-group.plans_nav
    =link_to day_view_daily_plans_path(:date=>(@day_date-1.day).strftime), :class => 'btn btn-large' do
      %i.icon-chevron-right
    =link_to 'javascript:;', :class => 'btn btn-large go_to_date', 'data-url'=>day_view_daily_plans_path(:date=>'__0__') do
      %i.icon-calendar
      =hidden_field_tag :go_to_date, ''
    =link_to day_view_daily_plans_path(:date=>(@day_date+1.day).strftime), :class => 'btn btn-large' do
      %i.icon-chevron-left
%h1
  ='Daily plan -'
  =l(@day_date, :format => '%A, %d %B %Y')

%table.page_layout{:border => 0, :cellpadding => 0, :cellspacing => 0}
  %tr
    %td.main_contents
      %div.box
        %div.pull-right
          =link_to_fbox new_daily_plan_rpm_block_path(@daily_plan), :class => 'btn btn-success' do
            %i.icon-plus.icon-white
        %h3='בלוקי RPM'
        %div.contents
          %div.rpm_block_assocs{'data-update_positions_url' => update_positions_daily_plan_rpm_block_assocs_path(@daily_plan)}
            -@daily_plan.rpm_block_assocs.includes(:rpm_block).order('position').each do |rpm_block_assoc|
              -rpm_block = rpm_block_assoc.rpm_block
              %div.rpm_block_assoc{'data-id'=>rpm_block_assoc.id, 'data-rpm_block_id'=>rpm_block.id, 'data-completed'=>rpm_block.completed?.to_s}
                %div.info
                  %div.pull-right.controls
                    %div.btn-group
                      =link_to_fbox edit_daily_plan_rpm_block_path(@daily_plan, rpm_block), :class => 'btn btn-small' do
                        %i.icon-edit
                      =link_to 'javascript:;', :class => 'btn btn-small schedule_rpm_block', 'data-url'=> new_daily_plan_rpm_block_assoc_time_commitment_path(@daily_plan, rpm_block_assoc) do
                        %i.icon-calendar
                      %div.btn-group.inline-block
                        =link_to 'javascript:;', :class=>'btn btn-small dropdown-toggle', 'data-toggle'=>'dropdown' do
                          %b.caret
                        %ul.dropdown-menu
                          %li
                            =link_to_fbox new_rpm_block_plan_assoc_path(rpm_block, :source=>:daily_plan, :source_assoc_id=>rpm_block_assoc.id) do
                              %i.icon-plus
                              ='הוספה לתכנון יום/שבוע'
                          %li.divider
                          %li
                            =link_to duplicate_daily_plan_rpm_block_path(@daily_plan, rpm_block), :method => :post, :remote => true do
                              %i.icon-tags
                              ='שכפול'
                          %li.divider
                          %li
                            =link_to daily_plan_rpm_block_path(@daily_plan, rpm_block), :method => :delete, :remote => true do
                              %i.icon-remove
                              ='מחיקה'
                          %li
                            =link_to daily_plan_rpm_block_assoc_path(@daily_plan, rpm_block_assoc), :method => :delete, :remote => true do
                              %i.icon-remove
                              ='הסרה מתכנון יום זה'

                  %i.icon-move
                  %span.completion_status{'data-url' => modify_completion_daily_plan_rpm_block_path(@daily_plan, rpm_block)}
                    %i.icon-ok.completed
                    %i.icon-uncompleted.uncompleted
                  %span.vmiddle.qtipTarget.purpose
                    =image_tag 'icons/target_arrow-24x24.png'
                    -#%i.icon-question-sign
                    %div.qtipContents
                      %div
                        %span.strong='סיבות'
                        %span.muted3.smaller3.em='מדוע אני רוצה להשיג את זה? מה זה יתן לי? מה המטרה?'
                      %div.markdown=markdown_html rpm_block.purpose
                  %span.vmiddle.outcome.bigger1.strong=rpm_block.result


                  -#%button.btn.btn-small.toggle_actions{:type => 'button'}
                    %i.icon-th-list


                %div.actions
                  %div.markdown=markdown_html rpm_block.actions

    %td.sidebar.left
      %div.tabbable
        %ul.nav.nav-tabs{:style => 'padding: 0px 20px; margin-bottom: 10px'}
          %li.active
            =link_to 'javascript:;', 'data-tab'=>:schedule_table do
              %i.icon-calendar
              ='התחייבות ותזמון'
          %li
            =link_to 'javascript:;', 'data-tab'=>:planning_steps do
              %i.icon-list
              ='שלבים לתכנון יום'

        %div.tab-content{:style => 'padding: 0px 10px;'}
          %div.tab-pane{'data-tab'=>:schedule_table}
            =render 'day_view_schedule_table'
          %div.tab-pane.active{'data-tab'=>:planning_steps}
            =render 'daily_planning_steps'


:javascript
  var controller = new MyRPM.controllers.DailyPlansDayViewController({
  });
