-top_navigation = TopNavigation.new(self, yield(:active_pill))
%div.navbar.navbar-inverse
  %div.container
    %div.navbar-header.pull-left
      %button.navbar-toggle.collapsed{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to 'MyRPM', home_path, :class=>'navbar-brand'
    %div.navbar-header.pull-right
      =link_to destroy_admin_user_session_path, :class=>'btn btn-default logout', :method=>:delete do
        ='יציאה'
        %i.fa.fa-power-off
    %div.navbar-collapse.bs-navbar-collapse.collapse{:role=>"navigation"}
      %ul.nav.navbar-nav
        -top_navigation.nav_pills.each do |pill|
          %li{:class=>"#{string_if('active', top_navigation.active_pill?(pill))} #{string_if('dropdown', pill.dropdown_menu?)}"}
            -if pill.dropdown_menu?
              =link_to 'javascript:;', :class=>"#{pill.css_class} as_table_cell", 'data-toggle'=>'dropdown' do
                =pill.text
                %b.caret
              %ul.dropdown-menu
                -for pill in pill.dropdown_pills do
                  %li
                    -link_to_method = pill.fbox_link? ? :link_to_fbox : :link_to
                    =self.send(link_to_method, pill.path, :class=>pill.class) do
                      %i{:class=>pill.icon}
                      =pill.text
            -else
              =link_to pill.text, pill.path, :class=>"#{pill.css_class} as_table_cell"
